/**
bakgrunnsfarge: E3EDF5
Tekst på bakgrunnsfarge: 0D264A

Velkommen boks: 14325E

Bokser: 14325E
Tekst på bokser: FFFFFF

StatusIkoner:
Løst: 2BB728
Påbegynnt: F0AE2F
Uløst: FF002F
TIl godkjenning: F0AE2F (foreløpig)

ODA:
SpecificProblem: F9CE39
ClearDataProduct: FF4B00
AccessibleData: FF002F
DefinedAction: 9100BC

**/

div .APP{
background-color: E3EDF5;
}
